{
  "branches": [
    "main",
    "next",
    {"name":"release/3.0", "range":"3.0.x", "prerelease":"beta"}
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "bin/*.tar.gz", "label": "Binary" },
          { "path": "bin/*.sha256", "label": "SHA256" }
        ]
      }
    ]
  ]
}
